@media screen and (max-width:510px) {
    /*.table-rwd thead {
    display: none;
}

.table-rwd td {
    display: block;*/ /* 一定要下！ */
    /*padding: 0;
}*/

    .table-rwd tr {
        border:3px solid gray;
    }
    

}


