<div style="text-align:center;">
    <table class="table1 table table-striped-columns table-rwd">

        <thead>
            @*<tr>*@
            <h4>待出貨清單</h4>
            @*<tr style="font-size:120px !important">待出貨清單</tr>*@
            @*</tr>*@
        </thead>
        <thead tr class="header">
            <tr>
                <th class="col-1">訂單編號</th>
                <th class="col-1">客戶編號</th>
                <th class="col-1">付款</th>
                <th class="col-3">送貨地址</th>
                <th class="col-1"></th>
            </tr>
        </thead>




        <tbody>
            <tr class="collapse1" id="456">
                <td colspan="5" style="padding:0; ">
                    <div>
                        <table class="table1 table-inner table table-striped-columns" style="margin:0 !important;">
                            <tbody id="Sheeplist_tbody">
                            </tbody>
                        </table>
                    </div>
                    <div class="table__wrapper">
                        <table class="table1 table-inner table table-striped-columns">
                            <tbody id="Sheeplist_tbody_sec">
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
        @*<tbody id="Sheeplis_tfoot_click">
        <tr>
        <td colspan="5">
        <div>
        <table class="table table-striped-columns" style="margin:0 !important;">
        <tr>
        <td class="col-1"> </td>
        <td class="col-1"> </td>
        <td id="Sheeplis_td_text" class="col-1">展開</td>
        <td class="col-1"> </td>
        <td class="col-1"> </td>
        </tr>
        </table>
        </div>
        </td>
        </tr>
        </tbody>*@







    </table>
    <div style="width:40px; height:40px;margin:0 auto; border:3px solid gray; border-radius:20px" id="SL_Foot">
        <img src="@Url.Content("~/homeimg/down_arrow_icon.png")" style="height:20px; margin-top: 8px" />
    </div>
</div>
<br />


<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">出貨單 <span></span></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input type="hidden" name="ShipperID" id="ShipperID">
                <div class="form-group">
                    <label for="CompanyName">訂單編號</label>
                    <input type="text" class="form-control" id="SID" name="CompanyName" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="Phone">客戶編號</label>
                    <input type="text" class="form-control" id="CID" name="Phone" readonly="readonly">
                </div>
                <div class="form-group">
                    <label for="Phone">送貨地址</label>
                    <input type="text" class="form-control" id="Add" name="Phone" readonly="readonly">
                </div>
                @*<div id="SDT_div"> </div></div>*@
                <table class="table table-striped-columns">
                    <thead>
                        <tr>
                            <th>商品名稱</th>
                            <th>尺寸種類</th>
                            <th>色碼</th>
                            <th>商品數量</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="SDT_tbody">
                    </tbody>
                </table>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button id="buttonSend" class="btn btn-primary">下載出貨單</button>
                    <div class="spinner-border text-light" role="status" style="width:15px; height:15px ; display:none" id="wait">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(".btnponit").on("click", function () {
    //    console.log(`123123`)
    //    var SPID= ("#SID").val()
    //    console.log(SPID)
    //    $("#buttonSend").attr("href", `"@Url.Content("~/Staff_Home/PonitSheeplist")/?SheepLish=${SPID}"`)
    //})


    console.log(`PartialSheeplist.cshtml`)













    var path = $(`#path`).val();
    //var data=null;
    $.ajax({
        url: `${path}`,
        type: "GET",
        dataType: "json"
    })

        .done(data => {
            console.log(`Start_LoadSheeplist_Data`)


            let docFrag = $(document.createDocumentFragment());
            let docFrag_sec = $(document.createDocumentFragment());
            let lastSID = "";
            let rowCound = 0;
            let i;
            $.each(data, function (i, i_val) {
                let eleT = "";
                let eleT_sec = "";
                if (lastSID !== i_val.訂單編號) {
                    rowCound++;
                    if (rowCound <= 5) {
                        eleT = $(`<tr class="tr-border"></tr>`).append(`<td  class="col-1  tds">${i_val.訂單編號}</td>
                                            <td  class="col-1 tds">${i_val.客戶編號}</td>
                                                <td  class="col-1 tds ">${i_val.付款方式}</td>
                                            <td  class="col-3 tdl">${i_val.送貨地址}</td>
                                            <td  class="col-1 tds">
                                            <button class="btn btn-primary mb-3 btnView" data-bs-toggle="modal" data-bs-target="#addModal">詳細資料</button>
                                            </td>`
                        );
                        docFrag.append(eleT);
                    }
                    else {
                        eleT_sec = $(`<tr class="tr-border"></tr>`).append(`<td  class="col-1 tds">${i_val.訂單編號}</td>
                                            <td  class="col-1 tds">${i_val.客戶編號}</td>
                                                <td  class="col-1 tds">${i_val.付款方式}</td>
                                            <td  class="col-3 tdl">${i_val.送貨地址}</td>
                                            <td  class="col-1 tds">
                                            <button class="btn btn-primary mb-3 btnView btnponit" data-bs-toggle="modal" data-bs-target="#addModal">詳細資料</button>
                                            </td>`
                        );
                        docFrag_sec.append(eleT_sec);
                    }

                }
                lastSID = i_val.訂單編號
            });
            $("#Sheeplist_tbody").prepend(docFrag);
            $("#Sheeplist_tbody_sec").append(docFrag_sec);
            console.log(`==================`);
            console.log(rowCound);
            console.log(`==================`);

            var high = rowCound * 75.94;
            console.log(`${high}px !important`)
            var SL_Foot = true;
            $("#SL_Foot").click(function () {
                SL_Foot = !SL_Foot
                $("#456").toggleClass("active");
                if (SL_Foot) {
                    $(".table__wrapper").attr("max-height", `${high}px !important`)
                    $("#SL_Foot img").attr("src", "@Url.Content("~/homeimg/down_arrow_icon.png")");
                }

                else {
                    $("#SL_Foot img").attr("src", "@Url.Content("~/homeimg/up_arrow_icon.png")");
                }

            });





            $(".btnView").on('click', function () {
                let SID = $(this).parents("td").siblings("td").first().text()
                let CID; let Add; let SIDCount = 0; let SIDIndex;
                lastSID = SID;
                $.each(data, function (k, k_val) {
                    if (lastSID == k_val.訂單編號) {
                        SIDCount++;
                        CID = k_val.客戶編號;
                        Add = k_val.送貨地址;
                        SIDIndex = k - SIDCount + 1;
                    }
                });
                $(`#SID`).val(SID); $(`#CID`).val(CID); $(`#Add`).val(Add);
                for (j = SIDIndex; j < SIDCount + SIDIndex; j++) {
                    const eleODT = $(`<tr></tr>`).append(`
                                     <td>${data[j].商品名稱}</td>
                                     <td>${data[j].尺寸種類}</td>
                                     <td>${data[j].色碼}</td>
                                     <td>${data[j].商品數量}</td>`)
                    docFrag.append(eleODT);
                }
                $("#SDT_tbody").html(docFrag);

                var SPID = $("#SID").val()
                console.log(SPID)
                //$("#buttonSend").attr("href", `@Url.Content("~/Staff_Home/PonitSheeplist")/?SheepLish=${SPID}`)
            });



            $("#buttonSend").on("click", function () {
                var filename = "";

                $("#wait").css("display", "")
                var SPID = $("#SID").val()

                $.ajax({
                    url: `@Url.Content("~/Staff_Home/PonitSheeplist")`,
                    type: "GET",
                    data: { "SheepLish": `${SPID}` },
                    dataType: "json"
                    //success:function(){
                    //    console.log(`123123132`)
                    //    $("#wait").css("display", "none")
                    //}
                })
                    .done(data => {
                        console.log(data);
                        filename = data;
                        const $a = document.createElement("a")
                        // 給下載回來的資料產生一個網址
                        //const url = window.URL.createObjectURL(data)
                        // 設定下載的檔名
                        $a.download = `${data}`
                        // 設定網址

                        $a.href = `@Url.Content("~/File/")${data}`;
                        //$a.id = `#don`
                        //$("#don").attr("href", `${data}`)
                        // 模擬使用者按下連結
                        $a.click()
                        // 5 秒後清除產生的網址，這時候使用者應該按下了下載的按鈕了
                        // 不清除的話會造成記憶體的浪費，這不會中斷使用者的下載
                        // 不過若你下載完就要跳轉到下一頁的話，其實這個可以不用
                        //setTimeout(() => URL.revokeObjectURL(url), 5000)
                        $("#wait").css("display", "none");

                        //$.ajax({
                        //    url: `@Url.Content("~/Staff_Home/DeleteSheeplist")`,
                        //    type: "GET",
                        //    data: { "SheepLish": filename },
                        //    dataType: "json"
                        //})

                        //    .done(data => {
                        //        console.log(data);
                        //        $("#wait").css("display", "none")
                        //    });

                    });

            });

        })
</script>